
@{
    ViewBag.Title = "Index";
}

<h2>Send Email</h2>
@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}
<form method="post" action="@Url.Action("SendEmail","MailController")">
    <div class="form-group">
        <label class="form-label" for="sender">From</label>
        <input type="text" class="form-control" name="sender" id="sender" />
    </div>
    <div class="form-group">
        <label class="form-label" for="receiver">To</label>
        <input type="text" class="form-control" name="receiver" id="receiver" />
    </div>
    <div class="form-group">
        <label class="form-label" for="subject">Subject</label>
        <input type="text" class="form-control" name="subject" id="subject" />
    </div>
    <div class="form-group">
        <label class="form-label" for="fileUploader">Attachment</label>
        <input type="file" class="form-control" name="fileUploader" id="fileUploader" />
    </div>
    <div class="form-group">
        <label class="form-label" for="body">Notes</label>
        <textarea class="form-control" name="message" cols="35" rows="4"> </textarea>
    </div>
    <div class="form-group">
        <button class="form-submit">Send</button>
    </div>
    <div>@ViewBag.Alert</div>
</form>

